*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: black;
    color: lawngreen;
}

.clientdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid magenta;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;

}

.clientname{
    display: flex;
    gap: 10px;
}

.clientusername{
    display: flex;
    gap: 10px;
}

.submitbtn{
    width: 80px;
    font-weight: 600;
    outline: none;
    border: 2px solid magenta;
    border-radius: 4px;
    height: 30px;
    background-color: pink;
}

div input{
    border: 2px solid magenta;
    outline: none;
    height: 25px;
    border-radius: 4px;
    padding: 5px;
}