*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: lawngreen;
    font-family: consolas;
}

.main{
    border: 2px solid rgb(92, 14, 92);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px palevioletred;
}

.genbutn{
    width: 200px;
    outline: none;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(87, 16, 87);
    box-shadow: 1px 1px 2px palevioletred;
    background-color: pink;
    font-weight: 800;
}