*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid magenta;
    gap: 10px;
   
    padding: 20px;
    max-width: 350px;
   
}

.name, .user, .password{
    display: flex;
    gap: 15px;  
    
}


button{
    color: lawngreen;
    outline: none;
    background-color: black;
    border: 1px solid magenta;
    width: 70px;
    height: 25px;
    cursor: pointer;
}

input{
    outline: none;
    border: 1px solid magenta;
    padding-left: 3px;
    height: 25px;
    
}